/* app css stylesheet */

body{
  padding-top: 40px;
  margin-top: 20px;
}

#contents{
	margin-top:5%;
}

#main{
	max-width: 900px;
}

#banner{
	margin-top:-5%;
}

#player{
	border-left:1px solid white;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

#playlists{
	margin: 20px auto;
}

#upcoming li .voted{
	background-color:green;
	color:white;
	position:relative;
	padding: 5px;
}

#results{
	position:relative;
    background: white;
	margin:auto;
}
#results-close {
	position: absolute;
    top: -46px;
    right: 0;
    z-index: 11;
}

.video{
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid black;
}

.video > .col{
	cursor:pointer;
}

.video:first-child > .col{
	border-top:1px solid black
}

.video .video-image{
	display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
	max-width:20%;
}

.video .video-content{
	display:inline-block;
    vertical-align: middle;
	max-width:70%;
}

#search .form-group{width:100%;}
#submit{width:20%; margin-left: -4px;}
#query{ 
	background: #ac0809; 
	border: none; 
	border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	color: white; 
	line-height: 30px; 
	padding: 5px 20px;
	width: 80%;
}
#query:focus{ outline: none;}
#play, #pause{ cursor: pointer;}
#pause{ display: none;}

#search{
	padding: 20px;
	background: #df1f1f;
}

#playlist{ background: #22242a; color: #727785; font-size: 16px; height: 464px;}
#current{ color: white; font-size: 20px; padding: 20px;}
#playlist ol, #playlist li{ cursor: pointer;}
#playlist ol{ border-bottom: 1px solid #33363f; height: 320px; overflow-x: hidden;}
#playlist li{ border-top: 1px solid #33363f; cursor: pointer;}
#history li{ color: #33522d;}
.item-title{ margin-right: 80px; padding: 10px 20px;}
.item-title:hover{ background: #1171A2; color: white;}
.item-delete{ color: #ac0809; float: right; text-align: center; padding: 10px 0; width: 80px;}
.item-delete:hover{ background: #ac0809; color: white;}
.item-vote{ color: white; float: right; text-align: center; padding: 10px 0; width: 80px;}
.item-vote:hover{ background: transparent; color: white;}
#history .item-title:hover{ background: #33522d; color: white;}
#tabs, #tabs a{ background: #333; height: 64px; left: 0; line-height: 64px; position: absolute; text-align: center; width: 100%;}
#tabs{ bottom: 0;}
#tabs a{ color: #666; width: 33%;}
#tabs a:last-child{ left: 66%;}
#tabs a:nth-child(2){ left: 33%;}
#tabs .on{ background: #22242a; color: white;}

::-webkit-input-placeholder{ color: #df1f1f;}
:-moz-placeholder{ color: #df1f1f;}
::-moz-placeholder{ color: #df1f1f;}
:-ms-input-placeholder{ color: #df1f1f;}

#votes-timer{
	text-align:center;
	font-size: 3rem;
	color:#df1f1f;
	margin-top:0px;
}